 *{
 margin: 0px;
 padding: 0px;
}
body{
  background-color: #F4F7FF;
  text-align: center;
}
h1{
  color: #23395B;
   font-weight:  800px; 
   font-size: 90px;
   margin-bottom: 10px;
}
.container{
height:70vh ;
display: flex;
justify-content: center;
 align-items: center;
}
.game{
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}
.box{
  height: 18vmin;
  width: 18vmin;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 3rem rgba(0,0,0, 0.2);
  font-size: 8vmin;
  color: #FF3B30;
  background-color: #FFFFFF;
}
.box:hover {
  transform: scale(1.05);
}
#turn{
  font-size: 30px;
  font-weight: 80px;
  color: #6A7BA2;
}
#reset{
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #FF3B30;
  color: #FFFFFF;
  border-radius: 1rem ;
  border: none;
}
#new-btn{
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #0078FF;
  color: #fff;
  border-radius: 1rem;
  border: none;
}
#msg{
  color: #23395B;
  font-size: 8vmin;
}
.msg-container{
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}
.hide{
  display: none;
}